.anime-card {
  position: relative;
  display: block;
  &__img {
    border-radius: $borderRadius;
  }

  &__episode-num {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.8rem;
    width: fit-content;
    height: fit-content;
    display: block;
    border-bottom-left-radius: $borderRadius;
    @include respond(xs) {
      font-size: 0.5rem;
    }
  }

  &__play-icon {
    @include centerFlex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
    border-radius: $borderRadius;
    opacity: 0;
    @include transitionMain;
    svg {
      font-size: 3.5rem;

      @include respond(sm) {
        font-size: 2.8rem;
      }
    }
  }

  // styling for details
  &__details {
    position: absolute;
    left: 30%;
    top: -30%;
    z-index: 20;
    border-radius: $borderRadius;
    width: 300px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s 0.2s ease-in;

    @include respond(md) {
      display: none;
    }
    &__add-favorite {
      @include centerFlex;
      cursor: pointer;
    }
    &__title {
    }

    &__des {
      font-size: 0.8rem;
    }

    &__list {
      list-style: none;
      font-size: 0.8rem;
    }

    &__item {
    }

    &__link {
      @include transitionMain;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

// hover effect on the parent
.anime-card-parent {
  &:hover .anime-card__play-icon {
    opacity: 1;
  }

  &:hover .anime-card__details {
    opacity: 1;
    pointer-events: auto;
  }
}
