.top-anime {
  &__num {
    @include centerFlex;
    width: 35px;
    height: 35px;
    text-align: center;
    @include transitionMain;
  }

  // hover effect

  &__box:hover &__num {
    color: white !important;
  }

  &__box:hover &__num.active {
    color: #fff !important;
    background-color: #202020 !important;
  }
}
